certifi==2024.7.4
charset-normalizer==3.3.2
gphoto2==2.5.0
idna==3.7
mysql-connector-python==8.2.0
numpy==1.25.1
opencv-python-headless
Pillow==10.3.0
protobuf==4.21.12
PyQt6==6.7.0
PyYAML==6.0.1
rawpy==0.18.1
requests==2.32.2
tifffile==2023.9.26
tqdm==4.66.3
urllib3==2.2.2
pygbif
folium
PyQt6-WebEngine
pymongo
bson
